
.app {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.top-panel {
    width: 100%;
    padding: 20px;
    background-color:lightgrey;
    border-bottom: 1px solid #dee2e6;
    box-sizing: border-box;
}

.sidebar {
    width: 15%; /* Adjust as needed */
    border-right: 1px solid black;
    padding: 1em;
}

.left-pane {
	padding-top: 100px;
    background-color:silver;
    height: 600px;
    position: sticky;
    top: 10px;
    text-align: center;
}

.main {
    width: 85%; /* Adjust as needed */
    background-color: whitesmoke;
    padding: 1em;
}

input[type="text"], select {
    font-size: 16px; /* Change this to the size you want */
    width: 150px;
}


.bordered-table {
    border-collapse: collapse;
    width: 80%;
    overflow: auto;
}

.bordered-table th, .bordered-table td {
    border: 1px solid black;
    padding: 10px;
}

.letter-table {
    width: 80%;
/*    overflow: auto; */
    align-self: center;
    align-items: center;
    padding: 40px;
}

.nice-button {
    background-color: lightsteelblue; /* Background color */
    color: black; /* Text color */
    font-family: 'Calibri', sans-serif; /* Font family */
    font-size: 16px; /* Font size */
    border: 2px solid black; /* Border */
    border-radius: 10px; /* Smooth corners */
    padding: 10px 20px; /* Padding around text */
    margin-right: 30px;
    width: 150px;
}

.table-button {
    background-color: lightsteelblue; /* Background color */
    color: black; /* Text color */
    font-family: 'Calibri', sans-serif; /* Font family */
    font-size: 12px; /* Font size */
    border: 2px solid black; /* Border */
    border-radius: 10px; /* Smooth corners */
    padding: 5px; /* Padding around text */
}



.button-container {
    display: flex;
    justify-content: start;
}


.nice-link {
    display: inline-block;
    width: 70%;
    background-color: steelblue;
    color: black;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.nice-pencil {
    color: darkgrey;
    padding-right: 10px;
    cursor: pointer;
}

.clickable-header {
    cursor: pointer;
    background-color:lightgray;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.sticky-header th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}

/* Create a new checkbox */
.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust this value as needed */
    border-bottom: 1px solid #000; /* Add a border */
}

.custom-checkbox label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid black;
}

/* Show a checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + label:before {
    background: darkgray;
}
