
.app {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.top-panel {
    width: 100%;
    padding: 20px;
    background-color:lightgrey;
    border-bottom: 1px solid #dee2e6;
    box-sizing: border-box;
    text-align: center;
}

.sidebar {
    width: 15%; /* Adjust as needed */
    border-right: 1px solid black;
    padding: 1em;
}

.left-pane {
	padding-top: 100px;
    background-color:silver;
    height: 1000px;
    position: sticky;
    top: 10px;
    text-align: left;
    padding-left: 20px;
}

.main {
    width: 85%; /* Adjust as needed */
    background-color: whitesmoke;
    padding: 1em;
}

input[type="text"], select {
    font-size: 16px; /* Change this to the size you want */
    width: 150px;
}


.bordered-table {
    border-collapse: collapse;
    width: 80%;
    overflow: auto;
}

.bordered-table th, .bordered-table td {
    border: 1px solid black;
    padding: 10px;
}

.letter-table {
    width: 90%;
    align-self: center;
    align-items: center;
    padding: 30px;
}

.nice-button {
    background-color: lightsteelblue; /* Background color */
    color: black; /* Text color */
    font-family: 'Calibri', sans-serif; /* Font family */
    font-size: 16px; /* Font size */
    border: 2px solid black; /* Border */
    border-radius: 10px; /* Smooth corners */
    padding: 10px 20px; /* Padding around text */
    margin-right: 30px;
    width: 150px;
}

.table-button {
    background-color: lightsteelblue; /* Background color */
    color: black; /* Text color */
    font-family: 'Calibri', sans-serif; /* Font family */
    font-size: 12px; /* Font size */
    border: 2px solid black; /* Border */
    border-radius: 10px; /* Smooth corners */
    padding: 5px; /* Padding around text */
}



.button-container {
    display: flex;
    justify-content: start;
}


.nice-link {
    display: inline-block;
    width: 60%;
    color: black;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.nice-link.entries {
    background-color: steelblue;
}

.nice-link.files {
    background-color: lightsalmon;
}

.nice-link.roots {
    background-color: green;
}

.nice-link.csv {
    background-color: slategray;
}

.nice-pencil {
    color: darkgrey;
    padding-right: 10px;
    cursor: pointer;
}

.clickable-header {
    cursor: pointer;
    background-color:lightgray;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.sticky-header th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}

/* Create a new checkbox */
.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust this value as needed */
    border-bottom: 1px solid #000; /* Add a border */
}

.custom-checkbox label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid black;
}

/* Show a checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + label:before {
    background: darkgray;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.tabs button {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 17px;
    margin-right: 10px;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: orange;
}

/*=========================*/
/* Collapsible Menu */
/*=========================*/

/* General styles */
.tree-view {
    font-family: 'Calibri', sans-serif;
    font-size: larger;
    padding: 0;
    margin: 0;
}

.tree-view ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Styles for collapsible items */
.tree-view .collapsible {
    cursor: pointer;
    font-weight: bold;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

/* Hide the nested list */
.tree-view .nested {
    display: none;
}


/* Show the nested list when the user clicks on the "collapsible" class */
.tree-view .active {
    display: block;
}

/* Styles for the collapsible content */
..tree-view .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: #f9f9f9;
  }
  
.tree-view .content.active {
    max-height: 200px; /* Adjust as needed */
  }

.tree-view .content a {
    display: block;
}

/* Optional: Add an arrow icon to indicate collapsible elements */
.tree-view .collapsible::before {
    /* content: '\25B7'; */
    content: '\003e'; /* Unicode character for "right arrow" */
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate arrow icon when the collapsible content is shown */
.tree-view .collapsible.active::before {
    transform: rotate(90deg);
}


.tree-list {
    display: flex;
    align-items: left;
    padding-bottom: 5px;
    padding-left: 20px;
    text-decoration: none;
    text-decoration-color: darkgrey;
}

a:visited, a:link, a:hover {
    text-decoration: none;
    color: black;
}

a:after {
    color: orange;
}